@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #171717;
  --foreground: rgb(209, 209, 209);
  --light-background: #474747; 
  --in-between-background: #626262;
  --lighter-background: #888888;
  --accent-color: #6375e0; 
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --light-background: #e5e5e5;
  --in-between-background: #bdbdbd;
  --lighter-background: #f3f3f3;
  --accent-color: #6375e0; /* or a different accent if you want */
}

html, body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: 'Inter', sans-serif !important;
  margin: 10px; 
  scroll-behavior: smooth; 
}

p {
  font-weight: 100; 
}

h1 {
  font-size: 20px; 
  font-weight: 800;
}

.icons {
  display: flex; 
  gap: 0.75rem;
  align-items: center; 
  padding: 10px; 
}

.language_icon, .framework_icon {
  /* for some reason the flask logo didn't want to listen to the html so ig I have to write this here */
  width: 37px; 
  height: 37px; 
  padding: 0.5px; 
  border-radius: 25%; 
  object-fit: contain; 
}

.icon_container {
  width: 50px; 
  height: 50px; 
  overflow: hidden; 
  border-radius: 50%; 
  border: 2px solid var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lighter-background); 
}

.icons_container {
  background-color: var(--light-background);
  border-radius: 10px; 
  padding: 10px; 
  margin: 10px 0; 
}

.name {
  font-weight: 600;
  color: var(--accent-color);
  text-shadow: 2px 2px 8px #30303088;
}

.projects-button {
  background-color: var(--accent-color); 
}

.contact-button {
  color: var(--accent-color); 
  border: 2px solid var(--accent-color);
}

.contact-button:hover {
  background-color: var(--accent-color); 
  color: var(--background); 
}

h2 {
  color: var(--accent-color); 
  font-size: 20px;
  font-weight: 600;
}

.headline {
  color: var(--in-between-background)
}

.email {
  color: var(--accent-color); 
}

.email:hover {
  color: var(--foreground)
}

h2:hover {
  color: var(--foreground);
}

/* Hide scrollbars for all elements */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}