@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: rgb(209, 209, 209);
  }
}

html, body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: 'Inter', sans-serif !important;
}

h1 {
  font-size: 20px; 
  font-weight: 800;
}

.icons {
  display: flex; 
  gap: 0.1rem; 
}